@charset "UTF-8";

/* カード内の画像は以下のURLを使用して下さい */


/* https://picsum.photos/id/1005/200/300 */


/* Q9-1~Q9-3までの箱 */

.green--box {
    background-color: #76ff826b;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}


/* アニメーションのタイミングを指定した後は、@keyframesでアニメーションの外見を定義することが必要 */


/* Q9-1ここから */

.animation--fade--in {
    animation: fadeIn 4s ease 0s 1 normal;
    /* animationを使いスタイルの間のアニメーションを適用  */
}


/* @keyframes は CSS のアットルールで、アニメーションの流れに沿ったキーフレーム（または中間地点）のスタイルを定義することによって、一連の CSS アニメーションの中間ステップを制御  */

@keyframes fadeIn {
    0% {
        opacity: 0/* opacityは要素の不透明度を設定。   0% はアニメーションシーケンスの始点 */
    }
    100% {
        /*100% はアニメーションシーケンスの終点を表す  */
        opacity: 1
    }
}


/* Q9-1ここまで */


/* Q9-2ここから */

.animation--fade--out {
    animation: fadeOut 4s ease 4s 1 normal;
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}


/* Q9-2ここまで */


/* Q9-3ここから */

.animation--rotation {
    animation: 4s linear infinite rotation;
    /* rorarionで回転するように指定、infiniteで永遠に継続させる  */
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Q9-3ここまで */


/* Q9-4~Q9-11までの箱 */

.blue--box {
    background-color: #331aefd0;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    transition: .5s;
}


/* Q9-4ここから */

.hover--color:hover {
    background: #ff27e2c9;
}


/* Q9-4ここまで */


/* Q9-5ここから */

.hover--rotate:hover {
    transform: rotate(360deg);
}


/* Q9-5ここまで */


/* Q9-6ここから */

.hover--up:hover {
    transform: translate(0, -20%);
}


/* Q9-6ここまで */


/* Q9-7ここから */

.hover--right:hover {
    transform: translate(50%, 0);
}


/* Q9-7ここまで */


/* Q9-8ここから */

.hover--height:hover {
    height: 300px;
}


/* Q9-8ここまで */


/* Q9-9ここから */

.hover--width:hover {
    width: 500px;
}


/* Q9-9ここまで */


/* Q9-10ここから */

.hover--border:hover {
    border: 10px #00ffe5 solid;
    box-sizing: border-box;
}


/* Q9-10ここまで */


/* Q9-11ここから */

.hover--shadow:hover {
    box-shadow: 8px 11px 10px 3px #06031ed0;
}


/* Q9-11ここまで */


/* Q9-12ここから */

.circle--meter {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    border: solid 10px #ecf1f2;
    border-top: solid 10px #14ff4bcd;
    animation: spin 1.1s linear infinite;
}


/* rorarionで回転するように指定、infiniteで永遠に継続させる  */


/* Q9-12ここまで */

.staff--list {
    display: flex;
}

.icon {
    border-radius: 50%;
    background: url("https://picsum.photos/id/1005/200/300") no-repeat center/cover;
    margin: 0 auto;
    height: 150px;
    width: 150px;
}

.staff--card {
    width: 300px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #000000;
    border-left: 0;
    transition: .5s;
}

.staff--card:hover {
    box-shadow: 0px 0px 10px 3px #424242d0;
    z-index: 1;
}

p {
    margin-top: 20px;
}

.staff--card:first-child {
    border-left: 1px solid #000000;
    ;
}